<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>

<%= form_with model: @image, url: images_path, method: :post, local: true do |f|  %>
  <%= f.attachment_field :image1 %>
  <%= f.submit "投稿" %>
<% end %>